:root {
  --unit-100vh: 100vh;
}

@supports (height: 100dvh) {
  :root {
      --unit-100vh: 100dvh;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  min-height: var(--unit-100vh);
  width: 100%;
}
